<%= form_with(model: review, local: true) do |form| %>

  <div class="field">
    <%= form.label "名前" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating %>
  </div>

  <div class="field">
    <%= form.label "メモ" %>
    <%= form.text_field :review %>
  </div>

  <div class="field">
    <%= form.label "頻度" %>
    <%= form.select :freq, [["いつでも", "every time"], ["毎日", "daily"], ["週一", "weekly"],["月一", "monthly"],["年一", "yearly"]] %>
  </div>

  <div class="actions">
    <%= form.submit "投稿する" ,class: "btn btn-primary"%>
  </div>
<% end %>
